.navbar-brand img {
    position: absolute;
    margin: 0 auto;
    cursor: pointer;
    left: 0;
    right: 0;
}

.navbar-toggle {
    z-index: 3;
}

.navbar-nav>li>a {
    font-family: 'Covered By Your Grace', cursive;
    padding-left: 30px;
    padding-right: 30px;
    font-size: 25px;
    line-height: 69px;
}

.navbar-inverse .navbar-nav>.active>a,
.navbar-inverse .navbar-nav>.active>a:focus,
.navbar-inverse .navbar-nav>.active>a:hover {
    background: transparent;
    font-weight: bold;
}

@media(max-width:767px) {
    .navbar-brand img {
        width: 60px;
        height: 60px;
    }
}