#navbar-primary .navbar-nav {
    font-family: 'Covered By Your Grace', cursive;
    width: 100%;
    text-align: center;
}

#navbar-primary .navbar-nav>li {
    display: inline-block;
    float: none;
}

#navbar-primary .navbar-nav>li>a {
    padding-left: 30px;
    padding-right: 30px;
    font-size: 25px;
    border: 1px solid transparent;
}

#navbar-primary .navbar-nav>li.active {
    border: 1px solid #9d9d9d;
}