<footer class="margin-top-20">
  <div class="copyright">
    <div class="container">
      <div class="col-md-6">
        <p>© {{ thisYear }} - Proudly presented by Patrick Ritskes</p>
      </div>
      <div class="col-md-6">
        <ul class="recipe-book-footer-list">
          <li><a href="http://www.prosynthorproductions.com/" target="_BLANK">Home</a></li>
          <li><a href="http://www.prosynthorproductions.com/contact" target="_BLANK">Contact us</a></li>
        </ul>
      </div>
    </div>
  </div>
</footer>