<div class="row">
  <div class="col-xs-12">
    <img [src]="recipe.imagePath" alt="{{ recipe.name }}" class="recipe-detail-image center-block img-responsive img-thumbnail">
  </div>
</div>

<div class="row">
  <div class="col-xs-4">
    <h1>{{ recipe.name }}</h1>
  </div>
  <div class="col-xs-8">
    <span class="pull-right dropdown" appDropDown>
    <button type="button" class="btn btn-recipe-book recipe-box-shadow margin-top-20">
        Manage Recipe
        <span class="caret"></span>
    </button>
    <ul class="dropdown-menu">
      <li>
        <a href="#"><span class="glyphicon glyphicon-plus"></span> To Shopping List</a>
      </li>
      <li>
        <a href="#"><span class="glyphicon glyphicon-pencil"></span> Edit Recipe</a>
      </li>
      <li>
        <a href="#"><span class="glyphicon glyphicon-trash"></span> Delete Recipe</a>
      </li>
    </ul>
    </span>
  </div>
</div>

<div class="row">
  <div class="col-xs-12">
    <p>{{ recipe.description }}</p>
  </div>
</div>

<div class="row">
  <div class="col-xs-12">
    <ul class="list-group">
      <li class="list-group-item" *ngFor="let ingredient of recipe.ingredients">
          {{ ingredient.amount }} {{ ingredient.prefix }} of {{ ingredient.name }}
      </li>
    </ul>
  </div>
</div>