<div class="row">
    <div class="col-xs-12">
        <button class="btn btn-recipe-book">New Recipe</button>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <a href="#" class="list-group-item clearfix margin-top-20" *ngFor="let recipe of recipes">
            <div class="pull-left">
                <h4 class="list-group-item-heading">{{ recipe.name }}</h4>
                <p class="list-group-item-text">{{ recipe.description }}</p>
            </div>
            <span class="pull-right">
                <img class="img-responsive img-thumbnail" width="50" height="50" [src]="recipe.imagePath" alt="{{ recipe.name }}">
            </span>
        </a>
        <app-recipe-item></app-recipe-item>
    </div>
</div>