body {
    font-family: 'Shadows Into Light', cursive;
    background-color: white;
    background-image: linear-gradient(90deg, rgba(200, 0, 0, .5) 50%, transparent 50%), linear-gradient(rgba(200, 0, 0, .5) 50%, transparent 50%);
    background-size: 102px 102px;
    font-size: 20px;
    height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Covered By Your Grace', cursive;
    font-weight: bold;
}

a:hover {
    cursor: pointer;
}

.margin-bottom-20 {
    margin-bottom: 20px;
}

.margin-top-20 {
    margin-top: 20px;
}

.recipe-book-bg {
    background: white;
    background-image: linear-gradient(90deg, transparent 80px, #abced4 90px, #abced4 90px, transparent 90px), linear-gradient(#eee .1em, transparent .1em);
    background-size: 100% 2.0em;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    margin: 26px auto 0;
    position: relative;
    /*height: 100%;*/
    padding: 30px 40px 20px 100px;
}

.recipe-box-shadow {
    -webkit-box-shadow: 5px 5px 6px 2px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 5px 5px 6px 2px rgba(0, 0, 0, 0.2);
    box-shadow: 5px 5px 6px 2px rgba(0, 0, 0, 0.2);
}

.btn-recipe-book {
    background: #3a3a3c;
    background: -moz-linear-gradient(top, #3a3a3c 0%, #3a3a3c 35%, #000000 100%);
    background: -webkit-linear-gradient(top, #3a3a3c 0%, #3a3a3c 35%, #000000 100%);
    background: linear-gradient(to bottom, #3a3a3c 0%, #3a3a3c 35%, #000000 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3a3a3c', endColorstr='#000000', GradientType=0);
    color: white;
    font-weight: bold;
    font-size: 16px;
    text-transform: uppercase;
    transition: .5s;
    border: 2px solid transparent;
}

.btn-recipe-book:hover {
    transition: .5s;
    background: white;
    color: black;
    border: 2px solid black;
}

.btn-recipe-book:focus {
    transition: .5s;
    background: white;
    color: black;
    border: 2px solid black;
}

.btn-recipe-book-danger {
    transition: .5s;
    color: white;
    background: #a86363;
    background: -moz-linear-gradient(top, #a86363 0%, #a86363 35%, #aa1d1d 100%);
    background: -webkit-linear-gradient(top, #a86363 0%, #a86363 35%, #aa1d1d 100%);
    background: linear-gradient(to bottom, #a86363 0%, #a86363 35%, #aa1d1d 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a86363', endColorstr='#aa1d1d', GradientType=0);
}

.btn-recipe-book-danger:hover {
    transition: .5s;
    color: #aa1d1d;
    background: white;
    border: 2px solid #aa1d1d;
}

.btn-recipe-book-danger:focus {
    transition: .5s;
    color: #aa1d1d;
    background: white;
    border: 2px solid #aa1d1d;
}

.btn-recipe-book-primary {
    transition: .5s;
    background: #6d6dce;
    background: -moz-linear-gradient(top, #6d6dce 0%, #6d6dce 35%, #3434cf 100%);
    background: -webkit-linear-gradient(top, #6d6dce 0%, #6d6dce 35%, #3434cf 100%);
    background: linear-gradient(to bottom, #6d6dce 0%, #6d6dce 35%, #3434cf 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6d6dce', endColorstr='#3434cf', GradientType=0);
}

.btn-recipe-book-primary:hover {
    transition: .5s;
    background: white;
    color: #3434cf;
    border: 2px solid #3434cf;
}

.btn-recipe-book-primary:focus {
    transition: .5s;
    background: white;
    color: #3434cf;
    border: 2px solid #3434cf;
}

.recipe-book-bg:before,
.recipe-book-bg:after {
    content: "";
    height: 98%;
    position: absolute;
    width: 100%;
    z-index: -1;
}

.recipe-book-bg:before {
    background: #fafafa;
    background-image: linear-gradient(90deg, transparent 80px, #abced4 90px, #abced4 90px, transparent 90px), linear-gradient(#eee .1em, transparent .1em);
    background-size: 100% 2.0em;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
    left: -5px;
    top: 4px;
    transform: rotate(-2.5deg);
}

.recipe-book-bg:after {
    background: #f6f6f6;
    background-image: linear-gradient(90deg, transparent 80px, #abced4 90px, #abced4 90px, transparent 90px), linear-gradient(#eee .1em, transparent .1em);
    background-size: 100% 2.0em;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
    right: -3px;
    top: 1px;
    transform: rotate(1.4deg);
}

.recipe-detail-image {
    max-height: 300px;
    transform: rotate(-2deg);
}

.dropdown-menu {
    text-transform: uppercase;
    font-size: 20px;
}

.dropdown-menu:before {
    position: absolute;
    top: -6px;
    right: 6px;
    display: inline-block;
    border-right: 7px solid transparent;
    border-bottom: 7px solid white;
    border-left: 7px solid transparent;
    content: '';
}

select:required:invalid {
    color: gray;
}

option[value=""][disabled] {
    display: none;
}

option {
    color: black;
}

.form-group {
    margin-top: 10px;
}

label {
    font-size: 1.3em;
    line-height: 1em;
    font-weight: normal;
}

.form-control {
    font-size: 1em;
    color: #080808;
    height: 40px;
}

input.ng-invalid.ng-touched,
select.ng-invalid.ng-touched,
textarea.ng-invalid.ng-touched {
    border: 1px solid red;
}