<div class="row">
  <form (ngSubmit)="onSubmit(f)" #f="ngForm">

    <div class="col-sm-2 form-group">
      <label for="amount">Amount</label>
      <input type="number" id="amount" class="form-control" name="amount" placeholder="Amount..." required ngModel pattern="^[1-9]+[0-9]*$"
        min="0" #amountInput="ngModel">
      <span class="help-block" *ngIf="!amountInput.valid && amountInput.touched">Please enter an valid amount!</span>
    </div>
    <div class="col-sm-4 form-group">
      <label for="prefix">Weight, Measure or Pieces?</label>
      <input type="text" id="prefix" class="form-control" name="prefix" placeholder="e.q: KG, Liters..." required ngModel #selectPrefix="ngModel">
      <span class="help-block" *ngIf="!selectPrefix.valid && selectPrefix.touched">Please enter a prefix!</span>
    </div>
    <div class="col-sm-6 form-group">
      <label for="name">Ingredient Name</label>
      <input type="text" id="name" class="form-control" name="name" placeholder="Name for the ingredient..." required ngModel #ingredientName="ngModel">
      <span class="help-block" *ngIf="!ingredientName.valid && ingredientName.touched">Please enter a ingredient!</span>
    </div>

    <div class="col-xs-12">
      <div class="btn-group shopping-list-btn-toolbar margin-bottom-20 recipe-box-shadow">
        <button class="btn btn-recipe-book" type="submit" [disabled]="!f.valid"><span class="glyphicon glyphicon-plus" [ngClass]="{'glyphicon-repeat': editMode}"></span> {{ editMode ? 'Update' : 'Add' }}</button>
        <button class="btn btn-recipe-book btn-recipe-book-danger" type="button" (click)="onDelete()" *ngIf="editMode"><span class="glyphicon glyphicon-trash"></span> Delete</button>
        <button class="btn btn-recipe-book btn-recipe-book-primary" type="button" (click)="onClear()"><span class="glyphicon glyphicon-remove"></span> Cancel</button>
      </div>
    </div>

  </form>
</div>