<div class="row">
  <div class="col-xs-12">
    <form>
      <div class="row">
        <div class="col-sm-5 form-group">
          <label for="name">Name</label>
          <input type="text" id="name" class="form-control" #nameInput>
        </div>
        <div class="col-sm-2 form-group">
          <label for="amount">Amount</label>
          <input type="number" id="amount" class="form-control" #amountInput>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <div class="btn-group margin-bottom-20 recipe-box-shadow">
            <button class="btn btn-recipe-book" type="button" (click)="onAddItem()"><span class="glyphicon glyphicon-plus"></span> Add</button>
            <button class="btn btn-recipe-book btn-recipe-book-danger" type="button"><span class="glyphicon glyphicon-trash"></span> Delete</button>
            <button class="btn btn-recipe-book btn-recipe-book-primary" type="button"><span class="glyphicon glyphicon-remove"></span> Clear</button>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>